.contact-form form{
    border: none;
    border-radius: 10px;
    background: rgb(255, 225, 255);
    box-shadow: inset 1px 1px 15px purple;
    margin: auto;
    width: 30%;
    padding: 20px;
}
.contact-form form input,textarea{
    display: block;
    margin:15px auto;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: linear-gradient(rgb(255, 125, 255),white);
    color: purple;
    box-shadow: 0px 1px 10px purple;
}
.contact-form form input::placeholder{
    color: purple;
    text-align: center;
}
.contact-form form textarea::placeholder{
    color: purple;
    text-align: center;
}   
.contact-form form button{
    display: block;
    margin:15px auto;
    padding:10px 20px;
    border: none;
    outline: none;
    background: linear-gradient(purple,white);
    border-radius: 10px;
    box-shadow: 1px 1px 10px purple;
    transition: 0.5s;
    color: rgb(0, 255, 0);
    font-weight: bold;
    cursor: pointer;
}
.contact-form form button:hover{
    box-shadow: 1px 1px 10px rgb(22, 255, 22);
    transform: scale(1.2);
}
.contact-form .header{
    text-align: center;
    font-weight: bold;
    color: purple;
    text-decoration: underline;
    padding: 10px;
    font-size: 25px;
    font-style: italic;
}