.user-form table{
    margin: auto;
    background: linear-gradient(purple,white);
    border-radius: 10px;
    padding: 10px;
}
.user-form table thead th{
    text-align: center;
    padding: 10px;
    color: rgb(0, 247, 255);
    text-decoration: underline;
    font-style: italic;
    background: linear-gradient(rgb(255, 0, 255),white);
    border-radius: 10px;
}
.user-form table tbody th{
    text-align: center;
    padding:10px ;
    color: rgb(0, 255, 0);
    font-style: italic;
    text-shadow: 1px 1px black;
}
.user-form table tbody button{
    border: none;
    background: rgb(255, 172, 172);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 5px red;
    transition: 0.5s;
    color: red;
    width: 100%;
    font-weight: bold;
}
.user-form table tbody button:hover{
    transform: scale(1.1);
    box-shadow:inset 1px 1px 10px red;
}
.user-form .header{
    margin: auto;
    text-align: center;
    color: red;
    font-style: italic;
    text-decoration: underline;
}
.user-form .add-btn{
    display: block;
    margin:10vh auto;
    width: 15%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: linear-gradient(purple,white);
    color: rgb(0, 255, 0);
    font-size: large;
    cursor: pointer;
    transition: all 0.5s;
}
.user-form .add-btn:hover{
    transform: scale(1.1);
}
.user-form .image{
    display: block;
    width: 200px;
    margin: auto;
    margin-bottom: 20px;

}